.carrosel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}
.swiper-slide{
    width: 100%;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.card__descricao{
    display: flex;
    justify-content: space-between;
}
.card{
    border-radius: 10px;
    background:var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    margin: 1em;
    padding: 1em;
}
.botões{
    display: flex;
}
.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.descrição__texto {
    font-size: 14px;
}
.descricao__titulo__joia{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}