.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Para colocar o menu abaixo do icone libera opção de colocar outros atributos como top left*/
    position: relative;
}
.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* Transormar os continer em flex itens para alinhas os icones na horizontal*/
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}

.container__botao{
    display: none;
}
/* ~ procura um outro elemento que seguido do anterior */
.container__botao:checked~.lista-menu {
    display: block;
}
